<section class="container mx-auto py-16">
  <div class="flex flex-row justify-between flex-wrap">
    {% assign current_variant = product.selected_or_first_available_variant %}
    <div class="product-media md:w-5/12 md:pr-8">
      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
      <img loading="eager" src="{{ featured_image | image_url: height: 1000 }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" width="1000" height="1000">
      <div class="media-list mt-2 flex flex-row justify-between flex-wrap">
        {% for image in product.images %}
          <a href="{{ image.src | image_url: height: 1000 }}" target="_blank" class="w-1/3">
            <img loading="lazy" src="{{ image.src | image_url: height: 160 }}" alt="{{ image.alt | escape }}" class="mr-2 mb-2" width="320" height="320">
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="product-details md:w-7/12 md:pl-8">
      <div class="product-info mb-8">
        <h1 class="text-6xl ">{{ product.title }}</h1>
        {% if product.description %}
          <div class="mt-4 text-lg">{{ product.description }}</div>
        {% endif %}
      </div>
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="text-lg">
        <div class="mb-4">
          <label for="productSelect">Variant: </label>
          <select name="id" id="productSelect" class="bg-slate-50 border-1 border-slate-400 p-2 leading-5">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - sold out
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="mb-4">
          <label for="Quantity">Quantity: </label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="bg-slate-50 border-1 border-slate-400 p-2 leading-5">
        </div>
        <div class="mb-8">
          {{ current_variant.price | money }}
        </div>
        <button type="submit" name="add" id="AddToCart" class="bg-blue-500 text-slate-50">Add to cart</button>
      </form>
    </div>
  </div>
</section>